<?xml version="1.0" encoding="utf-16"?>
<configuration xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <WSUsername />
  <WSPassword />
  <WSPasswordEncrypted>false</WSPasswordEncrypted>
  <ServicesEnabled>false</ServicesEnabled>
  <ServerPort>8080</ServerPort>
  <motion_WSActivity_iSpy>http://www.ispyconnect.com/webservices/ispy.asmx</motion_WSActivity_iSpy>
  <Enable_Error_Reporting>false</Enable_Error_Reporting>
  <Enable_Update_Check>true</Enable_Update_Check>
  <Password_Protect_Password />
  <Enable_Password_Protect>false</Enable_Password_Protect>
  <Password_Protect_Startup>false</Password_Protect_Startup>
  <MJPEGURL />
  <AVIFileName />
  <RecentJPGList />
  <RecentMJPGList />
  <RecentFileList />
  <Subscribed>false</Subscribed>
  <JPEGURL />
  <ActivityColor>255,0,0</ActivityColor>
  <NoActivityColor>101,132,139</NoActivityColor>
  <TrackingColor>41,176,211</TrackingColor>
  <FloorPlanHighlightColor>0,217,0</FloorPlanHighlightColor>
  <VolumeLevelColor>41,176,211</VolumeLevelColor>
  <MaxRecordingThreads>20</MaxRecordingThreads>
  <MainColor>153,153,153</MainColor>
  <AreaColor>255,255,255</AreaColor>
  <BackColor>64,64,64</BackColor>
  <MaxMediaFolderSizeMB>400</MaxMediaFolderSizeMB>
  <DeleteFilesOlderThanDays>3</DeleteFilesOlderThanDays>
  <ServerAddress>www.ispyconnect.com</ServerAddress>
  <Enabled_ShowGettingStarted>false</Enabled_ShowGettingStarted>
  <Opacity>100</Opacity>
  <LANPort>8080</LANPort>
  <Enable_Storage_Management>false</Enable_Storage_Management>
  <FFMPEG_Camera>NotUsed</FFMPEG_Camera>
  <FFMPEG_Microphone>NotUsed</FFMPEG_Microphone>
  <TimestampColor>255,255,255</TimestampColor>
  <BorderHighlightColor>255,255,255</BorderHighlightColor>
  <BorderDefaultColor>0,0,0</BorderDefaultColor>
  <UseUPNP>true</UseUPNP>
  <YouTubeUsername />
  <YouTubePassword />
  <YouTubeAccount />
  <YouTubeKey>AI39si79eKzxBxjX3A-JmPMdqF1p0poMDvWAUplpZrZdTgdTzJO4w0Om8AOzjNIG7a8ECGREepBe1cPtqkU9YQ-0yUfg73-tOg</YouTubeKey>
  <YouTubeCategories>Film,Autos,Music,Animals,Sports,Travel,Games,Comedy,People,News,Entertainment,Education,Howto,Nonprofit,Tech</YouTubeCategories>
  <YouTubeDefaultCategory>People</YouTubeDefaultCategory>
  <CompressorOptions>NotUsed</CompressorOptions>
  <LogFFMPEGCommands>false</LogFFMPEGCommands>
  <BalloonTips>true</BalloonTips>
  <TrayIconText>iSpy</TrayIconText>
  <AutoLayout>false</AutoLayout>
  <UpnpDevice />
  <IPMode>IPv4</IPMode>
  <IPv4Address />
  <IPv6Address />
  <SpecificIP>false</SpecificIP>
  <DHCPReroute>true</DHCPReroute>
  <MediaDirectory>C:\Users\xus\AppData\Roaming\iSpy\WebServerRoot\Media\</MediaDirectory>
  <FFMPEG_SingleProcess>true</FFMPEG_SingleProcess>
  <Loopback>true</Loopback>
  <ServerReceiveTimeout>1500</ServerReceiveTimeout>
  <IPCameraTimeout>20000</IPCameraTimeout>
  <ServerName>XUS-WW4</ServerName>
  <UploadedVideos />
  <Language>en</Language>
  <RecentVLCList />
  <VLCURL />
  <AutoSchedule>true</AutoSchedule>
  <Fullscreen>false</Fullscreen>
  <ShowStatus>true</ShowStatus>
  <ShowToolbar>true</ShowToolbar>
  <ShowFileMenu>true</ShowFileMenu>
  <AlwaysOnTop>false</AlwaysOnTop>
  <LogFileSizeKB>100</LogFileSizeKB>
  <CPUMax>90</CPUMax>
  <AllowedIPList>127.0.0.1</AllowedIPList>
  <Reseller />
  <CreateAlertWindows>true</CreateAlertWindows>
  <MaxRedrawRate>20</MaxRedrawRate>
  <PreviewItems>100</PreviewItems>
  <ShowOverlayControls>true</ShowOverlayControls>
  <ShowMediaPanel>true</ShowMediaPanel>
  <Priority>3</Priority>
  <Monitor>true</Monitor>
  <RunTimes>87</RunTimes>
  <ScreensaverWakeup>false</ScreensaverWakeup>
  <Vendor />
  <TalkMic />
  <PlaybackMode>0</PlaybackMode>
  <JPEGQuality>90</JPEGQuality>
  <StopSavingOnStorageLimit>false</StopSavingOnStorageLimit>
  <ViewController>false</ViewController>
  <LayoutMode>0</LayoutMode>
  <ShowPTZController>false</ShowPTZController>
  <BigButtons>false</BigButtons>
  <LockLayout>false</LockLayout>
  <MediaPanelSize>881x1280</MediaPanelSize>
  <MinimiseOnClose>false</MinimiseOnClose>
  <IPv6Disabled>true</IPv6Disabled>
  <DeleteToRecycleBin>false</DeleteToRecycleBin>
  <SpeechRecognition>false</SpeechRecognition>
  <DefaultManufacturer />
  <AppendLinkText>http://www.ispyconnect.com/watch_new.aspx</AppendLinkText>
  <StartupForm>iSpy</StartupForm>
  <TrayOnMinimise>true</TrayOnMinimise>
  <EnableGZip>true</EnableGZip>
  <FeatureSet>1</FeatureSet>
  <MJPEGStreamInterval>100</MJPEGStreamInterval>
  <AlertOnDisconnect />
  <AlertOnReconnect />
  <StartupMode>0</StartupMode>
  <DisconnectNotificationDelay>60</DisconnectNotificationDelay>
  <Archive />
  <MailAlertSubject>[EVENT]: [OBJECTNAME]</MailAlertSubject>
  <MailAlertBody>[EVENT]: [OBJECTNAME] [RECORDED] [PLUGIN]</MailAlertBody>
  <SMSAlert>[EVENT]: [OBJECTNAME] [RECORDED] [PLUGIN]</SMSAlert>
  <SMTPFromAddress />
  <SMTPUsername />
  <SMTPPassword />
  <SMTPServer />
  <SMTPPort>25</SMTPPort>
  <UseSMTP>false</UseSMTP>
  <SMTPSSL>false</SMTPSSL>
  <DefaultRecordOnAlert>false</DefaultRecordOnAlert>
  <DefaultRecordOnDetect>true</DefaultRecordOnDetect>
  <FirstRun>true</FirstRun>
  <DeviceDriverDefault />
  <SSLCertificate />
  <SSLClientRequired>false</SSLClientRequired>
  <SSLIgnoreErrors>true</SSLIgnoreErrors>
  <SSLCheckRevocation>false</SSLCheckRevocation>
  <SSLEnabled>false</SSLEnabled>
  <GoogleDriveConfig />
  <DropBoxConfig />
  <OpenGrabs>true</OpenGrabs>
  <TextSentences />
  <VLCFileCache>3000</VLCFileCache>
  <Referers />
  <EncryptCode>50e594da-c14b-4b88-b4b2-8850a915cbc7</EncryptCode>
  <PortMapperMode>2</PortMapperMode>
  <SerialPort>1</SerialPort>
  <ExtTrigFR>20</ExtTrigFR>
  <Logging />
  <FTPServers />
  <GridViews />
  <Joystick />
  <MediaDirectories>
    <Directory Entry="C:\Users\xus\Videos\BehavVideos\" MaxMediaFolderSizeMB="400" DeleteFilesOlderThanDays="3" />
  </MediaDirectories>
  <Permissions>
    <group name="Admin" featureset="1" password="" />
  </Permissions>
</configuration>